{% extends 'base.html' %}

{% block content %}
  <h1>Acerca de Parkify</h1>
  <p>Somos un equipo de estudiantes y hemos creado Parkify con la intención de ayudar a reducir el tráfico y la contaminación en las universidad EAFIT.</p>
  <p>Nuestra misión es ofrecer una plataforma fácil y segura para que los usuarios de la U encuentren y reserven espacios de estacionamiento.</p>
  <h2>Equipo</h2>
  <ul>
    <li>Pablo Baez</li>
    <li>Felipe Uribe</li>
  </ul>
<br>
<br>
    <h1>De donde nace de Parkify?</h1>
  <p>En la Universidad EAFIT hemos detectado una problemática relacionada con los parqueaderos, ya que a la hora de ingresar las instalaciones se generan filas en las diferentes porterías que pueden durar hasta más de 30 minutos por la falta de parqueaderos disponibles y el mal manejo de los espacios, a su vez en algunos de los casos puede haber algún espacio especial disponible tal como un espacio para personas con condiciones especiales o vehículos eléctricos estas personas de igual forma tienen que tomar en cuenta las filas extensas que se pueden formar. Nuestra propuesta de solución consiste en realizar una aplicación la cual actualice en tiempo real la cantidad de parqueaderos esto genera mayor eficiencia en cuanto al tiempo dado que no es necesario estar en la universidad para saber si hay disponibilidad, también permite tomar decisiones sobre tomar medios de transporte alternos al vehículo particular.</p>
{% endblock %}
